### Introduction to Pandas

Pandas is a high level data manipulation package which was built on top of Numpy. The key structures within pandas include series and dataframes

### Series

A series is a one dimensional array with axis labels (an index).

In [2]:
# Importing libraries and packages
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame

In [4]:
# Creating a series from a list
x = pd.Series([10,20,30,40,50])
x

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
# We can access different components seperately:

# Accessing the index
x.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
# Accessing values 
x.values

array([10, 20, 30, 40, 50], dtype=int64)

In [7]:
# Acessing the dataype
# A series is an ndarray, thus its homogeneous and cannot store multiple datatypes
x.dtype

dtype('int64')

In [8]:
# Creating a series with an index
data = [450,650,870]
Sales = Series(data, index=["Ken", "Taka", "Kura"])
Sales

Ken     450
Taka    650
Kura    870
dtype: int64

In [9]:
# Check the type type
type(Sales)

pandas.core.series.Series

In [10]:
# If we check the index of sales, we will get the values, rather than the range. Because it is a string.
Sales.index

Index(['Ken', 'Taka', 'Kura'], dtype='object')

### Accessing Values

In [12]:
#You can access values using the Index name
Sales["Ken"]

450

In [13]:
# You can still use traditional indexing 
Sales[0]

450

### Checking for conditions

In [15]:
#You can filter based on conditions.
Sales>500
#This will usually return booleans

Ken     False
Taka     True
Kura     True
dtype: bool

In [16]:
# We can use these booleans 
Sales [[False,True,True]]

Taka    650
Kura    870
dtype: int64

In [17]:
# If we want to see values greater than 500 we can use those booleans
Sales[Sales>500]

Taka    650
Kura    870
dtype: int64

In [19]:
#Checking the names in the index
"Ken" in Sales

True

In [21]:
# False example 
"Ame" in Sales

False

In [22]:
#What about this?
450 in Sales
#450 is not an index, its a value. Thus it will return False.

False

### Working with Dictionaries

In [23]:
#Converting a series to a dictionary
sales_dict = Sales.to_dict()
sales_dict

{'Ken': 450, 'Taka': 650, 'Kura': 870}

In [25]:
# Converting a dict to a Series 
sales_ser = Series(sales_dict)
sales_ser

Ken     450
Taka    650
Kura    870
dtype: int64

### Adding entries and working with Nan/null values

In [26]:
#We can create a new series from an existing Series
#If we specify in the index that were not there already, Nun values will be assigned
new_sales = Series(Sales, index=["Ken", "Taka", "Kura", "Iwa, "Miwa"])

SyntaxError: invalid syntax (3381655713.py, line 3)

In [27]:
#We can check if there are ay Nan values in a Series

In [28]:
#To check for null values, use pandas
pd.isnull(new_sales)

NameError: name 'new_sales' is not defined

### Naming components in a Series

In [29]:
#Name an index 
Sales.index.name = "Sales person"
Sales

Sales person
Ken     450
Taka    650
Kura    870
dtype: int64

In [30]:
# Naming a series 
Sales.name = "Total tv sales"
Sales

Sales person
Ken     450
Taka    650
Kura    870
Name: Total tv sales, dtype: int64

### DataFrames

Data frames are two-dimensional, size mutable, potentially, heterogeneous tabular data structures. This data structure contains TWO laveled axes (rows and the columns).

In [32]:
# Creating a Dataframe from a list
data =[["Ken", 20], ["Taka", 23], ["Kura", 41]]

# When we create a DataFrame, we can specify what the cokumn names are and the datatype is 
df = pd.DataFrame(data, columns=["Name", "Age"])
df

   Name  Age
0   Ken   20
1  Taka   23
2  Kura   41

## Python Pandas Research/Practice

### Creating DF from a dictionary

In [44]:
#Creating DF from a dictionary
#Just like DF from a list we create a dictionary
data_tekk = {'Name': ['Kazuya', 'Heihachi', 'Jin'], 'Age': [50, 76, 22]}

#When we create a DataFrame, we can specify what the cokumn names are and the datatype is 
df = pd.DataFrame(data_tekk, columns=["Name", "Age"])
df

       Name  Age
0    Kazuya   50
1  Heihachi   76
2       Jin   22

### Adding custom indexes to our DataFrame

In [37]:
#Adding custom indexes to our Data frame
#We have decided to index by initials
cust_ind = pd.DataFrame(data_tekk, index=["K", "H", "J"])
cust_ind

       Name  Age
K    Kazuya   50
H  Heihachi   76
J       Jin   22

### Creating DF from a list of dictionaries

In [45]:
#Creating a DF from a list of dictionaries
dict_lst = [{"Name": "Jin", "Age": 22, "Title": "Kazama"}, {"Name": "Heihachi", "Age": 76, "Title": "Mishima"}, {"Name": "Kazuya", "Age": 50}]
list_df = pd.DataFrame(dict_lst)
list_df

       Name  Age    Title
0       Jin   22   Kazama
1  Heihachi   76  Mishima
2    Kazuya   50      NaN

### Creating df from a series

In [56]:
#Creating df from a series
#Converting a series to a Dataframe
#Why is there a syntax error
sales_df = [pd.DataFrame(Sales, columns=["Names", "Fiscal"])
            sales_df

SyntaxError: invalid syntax (3821429011.py, line 5)